<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <title>Menu</title>
    </head>
    <body style="background-image: url(imagem/fundo.jpg);background-repeat: no-repeat;background-size: 100%;">
        
        <div class="row">
            <div class="col s12 m3">
                <div class="row">
                    <div class="z-depth-5" style="background-color:#212121; color:#FFFFFF">
                        <h1 class="center-align">Menu</h1>
                    </div>
                </div>
        
                <div class="row">
                    <div class="z-depth-5" style="background-color:#212121; color:#FFFFFF">
                        <button id="janela-principal" class="waves-effect waves-light btn" style="width: 100%;height:100%; background-color:#212121;">Tela Principal</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="z-depth-5 center-align" style="background-color:#212121; color:#FFFFFF">
                        <button id="janela-adicionar" class="waves-effect waves-light btn" style="width: 100%;height:100%; background-color:#212121;">Pessoas</button>
                    </div>
                </div>
            </div>
    
            <!-- <div class="col s6 m1 center-align" style="background-color:#212121; color:#FFFFFF"></div> -->

            <div class="col s12 m7">
                <div class="row" style="width:127%; margin-left: 10px;">
                    <div class="z-depth-5" style="background-color:#212121; color:#FFFFFF; padding:0px 20px 20px 20px;">
                        <h1 class="center-align">Pessoas</h1>
                        <hr>
                        <div class="row center-align">
                            <input id="nome" type="text" style="width:90px;color:#FFFFFF;padding:0px 10px 0px 10px;" placeholder="Nome:"/>
                            <input id="email" type="text" style="width:130px;color:#FFFFFF;padding:0px 10px 0px 10px;" placeholder="Email:"/>
                            <input id="telefone" type="text" style="width:130px;color:#FFFFFF;padding:0px 10px 0px 10px;" placeholder="Telefone:"/>
                            <button id="btnAdicionar" class="btn btn-outline-success" name="btnAdicionar">Adicionar</button>
                            <button id="btnConsultar" class="btn btn-outline-success" name="btnConsultar">Consultar</button>
                        </div>
                        <hr>
                            <table id="tabela-pessoas" class="table table-dark">
                                <thead>
                                    <tr>
                                        <td scope="col">Nome</td>
                                        <td scope="col">Email</td>
                                        <td scope="col">Telefone</td>
                                    </tr>
                                </thead>
                                <tbody id="tabela">
                                </tbody>
                            </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <script src="../model/Pessoa.js"></script>
        <script src="../dao/PessoaDAO.js"></script>
        <script src="../controll/PessoaController.js"></script>
    </body>
</html>